#container {
    background-color:antiquewhite;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    height: 100vh;
}

body::before {
    content: "";
    background-image: url(books.svg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .2;
    z-index: 1;
}


#container > #header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#mainContent {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 5%;
    padding-right: 10%;
    gap: 5%;
    z-index: 2;
}

fieldset {
    background-color: rgba(201, 201, 202, .4);
    border-radius: 15px;
    border-style: none;
    max-width: fit-content;
}

#questionBox {
    font-weight: bold;
    font-size: 20px;
    display: grid;
    max-width: fit-content;
}

input {
    background-color: rgba(255, 255, 255);
    width: fit-content;
}

#bookList {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    background-color: rgba(201, 201, 202, .4);
    padding: 0% 5% 0% 5%;
}